html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0
}

body {
    padding: 0;
    margin: 0;
    background: #000
}

html, body, fieldset, img, iframe, abbr {
    border: 0
}

li {
    list-style: none
}

textarea {
    overflow: auto;
    resize: none
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: 700
}

a, a:hover {
    text-decoration: none
}

body, textarea, input, button {
    color: #000;
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi
}

a:hover {
    text-decoration: none
}

a, button {
    cursor: pointer;
    text-align: center
}

button {
    border: 0;
    outline: 0;
    background: 0 0
}

li {
    list-style: none
}

textarea {
    overflow: auto;
    resize: none
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html, body {
    width: 100%;
    min-width: 1200px;
    height: auto;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background: #fff;
    line-height: 1.5
    overflow-y:scroll;
    min-height: 101%;
    overflow: -moz-scrollbars-vertical;
    /*perspective: 500px;*/
    /*transform-style: preserve-3d;*/

}

.hide {
    display: none
}

.fl {
    float: left
}

.fr {
    float: right
}

.show {
    display: block
}

.inline {
    display: inline-block;
    *zoom: 1;
    *display: inline
}
.fl {
    float: left
}

.fr {
    float: right
}
.w {
    width:1200px;
    margin:0 auto;
}
/*获得焦点时 去除输入框的边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    /*属性用于设置元素的整个轮廓的样式。样式是 none，轮廓不会出现。
*/
}




